<div class="container has-text-centered">
    <div class="column is-centered">
        <div class="column is-4">
            <div class="card has-background-dark">
                <div class="content">
                    <p class="title is-4 has-text-white"> {{dog_name}} </p>
                    <p class="subtitle has-text-white">Looking For: {{content}}</p>
                </div>
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-1100x628.jpg">
                    </figure>
                </div>
                <div class="media-content">
                    <p class="title is-6 has-text-white"> Owner: {{user.username}} </p>
                </div>
                <div class="card-header">
                    <p class="title is-6 has-text-white">{{dog_name}}'s Info</p>
                </div>
                <div class="content has-text-white">
                    <p>Breed: {{breed}}</p>
                    <p>Energy Level: {{energy}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- <article class="dog-match">
    <div>
        Dog: {{dog_name}} Energy: {{energy}} Owner: {{user.username}} <br>
        <a href="post/{{id}}">{{title}}</a>
    </div>
    <div>
        {{content}}
    </div>
</article> --}}