<article class="dog-match">
        <div>
        Dog: {{dog.name}} Owner: {{person.name}} <br>
        <a href="/user/post/{{post.id}}">{{post.title}}</a>
        </div>
        <div>
            {{content}}
        </div>
    </article>