<article class="dog-match">
    <div>
        Dog: {{dog_name}} Energy: {{energy}} Owner: {{user.username}} <br>
        <a href="post/{{id}}">{{title}}</a>
    </div>
    <div>
        {{content}}
    </div>
</article>