<div class="container has-text-centered">
    <div class="column is-centered">
        <div class="column">
            <div class="card">
                <div class="content">
                    <br>
                    <p class="title is-4"> A Date With {{dog_name }}</p>
                    <br>
                    <p class="subtitle">Looking For: {{title}}</p>
                </div>
                <div class="card-image">
                    <figure class="image" id="single-post-image">
                        <img src="https://post.medicalnewstoday.com/wp-content/uploads/sites/3/2020/02/322868_1100-1100x628.jpg">
                    </figure>
                </div>
                                <div>
                  <p>{{content}}</p>
                </div>
                <br>
                <div class="media-content">
                    <p class="title is-6"> Owner: {{user.username}} </p>
                </div>
                <div class="card-content">
                    <p class="title is-6">{{dog_name}}'s Info</p>
                </div>
                <div class="content">
                    <p>Breed: {{breed}}</p>
                    <p>Energy Level: {{energy}}</p>
                    <p>Vaccination Status: {{vaccine}}</p>
                    <p>Human Interaction: {{human_interaction}}</p>
                </div>

            </div>
        </div>
    </div>
</div>